.containerCalendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 6%;
    align-items: center;
}

.inputsField {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    min-width: 15%;
}

