$colorEvent: rgba(138, 187, 216, 0.924);

.dayCard {
    width: 7vw;
    height: 7vw;
    text-align: center;
    padding: 1%;
    
}

.weekday 
{
    width: 7vw;
    text-align: center;
    font-size: 1.1vw;
}

.dayCardNumber {
    padding: 5px 0;

    span {
        font-size: 1vw;
    }
}


.dayCardEvent {
    width: 80%;
    height: 5%;
    border-radius: 100px;
    //background-color: $colorEvent;
    margin: 0 auto;
    font-size: 0.75vw;
}

.MuiPaper-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}