.eventCard {
    background-color: rgba(255, 255, 255, 0.863);
    padding: 4%;
    border-radius: 25px;

    form {
        text-align: end;

        button {
            margin-top: 4%;
        }
    }
}